:root {
  --main-margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    "nav nav nav "
    "main main main"
    "footer footer footer";
  grid-gap: 0.2rem;
}

nav {
  background: #ffff;
  grid-area: nav;
  padding: 1.5rem;
}

main {
  grid-area: main;
}

footer {
  background: #001E7D;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }
}